
.tab-menu {
    width: 450px;
    padding: 30px;
  }
  
  .tab-menu ul {
    margin: 0;
    padding: 0;
  }
  
  .tab-menu li {
    display: inline-block;
    width: 150px;
    height: 22px;
    padding: 10px 10px 5px;
    cursor: pointer;
    background-color: #AECD6A;
    border-top-right-radius: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
  
  .tab-menu li.selected {
    background-color: #fff;
    color: #AECD6A;
  }
  
  .contents {
    background-color: #fff;
    height: 360px;
    padding: 20px;
  }
  
  .contents .right {
    display: none;
  }