body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 100px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.header{
    height: 100px;
    padding: 30px 15px 0;
    font-size: 30px;
    text-align: left;
    background-color: #F8EDBF;
}
.icon{
    float: left;
}
.bottons{
    padding: 50px 10px 0;
    margin: 0 20px 10px;
    font-size: 17px;
    float: right;
}
nav{
    text-align: center;
  }
  nav ul{
    margin: 0 ;
    padding: 0 ;
  }
  nav li{
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
  }
  nav li:not(:last-child){
    border-right:2px solid #292745;
  }
  nav a{
    text-decoration: none;
    color: #292745;
  }

  nav a:hover{
    border-bottom:2px solid #D2E199;
  }

main{
    display: flex;
    min-height: 100vh;
    margin: 0;
}
.content{
    flex: 1;
    text-align: center;
    margin: 30px 30px 60px;
    padding: 20px;
    background-color: #302A46; 
}

.localNavigation{
  background-color: #F8EDBF; 
  width: 40%;
  padding: 30px 70px 30px 30px;
  margin: 50px 20px 60px;
}

#search{
    margin: 0 30px 30px;
}

#sbox{
  outline:0;
    font-size: 15px;
    padding: 2px 4px;
    margin-bottom: 20px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    color: #666666;
}

.sbtn{
  margin-left: auto;
  margin-right: auto;
}

#sbtn{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 5em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

#sbtn:hover {
  background: #67c5ff;
  color: white;
}

.shop_link{
  max-height: 320px;
  overflow: scroll;
  border: solid 3px white;
  margin: 30px 30px 0 30px;
  padding: 0 15px;
  text-align: left;
  color: rgb(48, 117, 207);
}

.shop_link a:link {
   color: rgb(180, 180, 180);
}
.shop_link a:visited {
  color: #889786;
}

.shop_link a:hover {
  color: #fff;
}

.footer{
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: #292745;
    padding: 30px 0;
    position: absolute;
}



/* ここからログインと新規 */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url(http://thekitemap.com/images/feedback-img.jpg) fixed;
  background-size: cover;
  height:100%;
}

#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  background-color:rgba(72,72,72,0.4);
  color: #fff;
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: center;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.text_done{
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin: 10px 10px 10px 0;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#password{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#password_confirmation{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}


.field{
    margin: 10px;
    color:#fff;
}

/*この部分は投稿フォーム*/

.feedback-input-post {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input-post:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px;
}

#shop_name{
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}





.cp_ipselect.cp_sl01 select {
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}






#address{
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#link{
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

/*ここまで投稿フォーム*/

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}


#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}

.submit{
  margin-top: 10px;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
/*ここまでログインと新規*/

/*ここからマイページ*/
.flexbox{
  background-color:rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 750px;
  justify-content: center;
  left: 50;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

h2{
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  text-align: center;
  color: #fff;
}

.card {
  margin: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

/*評価の星*/
.rate {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
  font-size: 20px;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
.rate:before {
  color: #ddd; /*星色*/
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap; /*重要*/
}

.rate00:after{width: 0;}
.rate05:after{width: 10px;}
.rate10:after{width: 20px;}
.rate15:after{width: 30px;}
.rate20:after{width: 40px;}
.rate25:after{width: 50px;}
.rate30:after{width: 60px;}
.rate35:after{width: 70px;}
.rate40:after{width: 80px;}
.rate45:after{width: 90px;}
.rate50:after{width: 100px;}