body{
    display: flex;
    flex-direction: column;
}
.header{
    height: 100px;
    padding: 30px 15px 0;
    font-size: 30px;
    text-align: left;
    background-color: #333333;
}
.icon{
    float: left;
}
.bottons{
    padding: 50px 10px 0;
    margin: 0 20px 10px;
    font-size: 17px;
    float: right;
}
nav{
    text-align: center;
  }
  nav ul{
    margin: 0 ;
    padding: 0 ;
  }
  nav li{
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
  }
  nav li:not(:last-child){
    border-right:2px solid #ddd;
  }
  nav a{
    text-decoration: none;
    color: #ffff;
  }
  nav a.current{
    color: #00B0F0;
    border-bottom:2px solid #00B0F0;
  }
  nav a:hover{
    color:#F7CB4D;
    border-bottom:2px solid #F7CB4D;
  }

main{
    display: flex;
    min-height: 100vh;
    margin: 0;
}
.content{
    flex: 1;
    text-align: center;
    margin: 20px;
}

#search{
    margin: 20px;
}

#sbox{
    outline:0;
    font-size: 15px;
    padding: 2px 4px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    color: #666666
}

#sbtn{
display: inline-block;
  padding: 0.5em 5em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

#sbtn:hover {
  background: #67c5ff;
  color: white;
}

.localNavigation{
    text-align: center;
    background-color: #333333;
    width: 450px;
    padding: 30px;
}

.shop_link{
    text-align: left;
    color: rgb(48, 117, 207);
}
.footer{
    height: 70px;
    text-align: center;
    background-color: #333333;
    color: #ffff;
}