#map {
    height: 100%;
    width:100%;
  }
#searchmap {
    height: 100%;
    width:100%;
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.tab-menu {
    margin: 0 30px 40px 30px;
  }

.left{
    line-height: 3px;
  }
  
.tab-menu ul {
    margin: 0;
    padding: 0;
    margin-top: 0;
  }
  
.tab-menu li {
    display: inline-block;
    width: 150px;
    height: 22px;
    padding: 10px 10px 5px;
    cursor: pointer;
    border-top-right-radius: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
  }
  
.tab-menu li.selected {
  background-color: #de650e;
  color: #fff;
  }
  
.contents {
    border: 2px solid #fff;
    padding: 20px;
  }
  
.contents .right {
    display: none;
  }

.radio{
  color:#fff;
}